body {
    margin:2em;
    background-attachment:fixed;
}
.encabezado {
    background-color:rgb(25, 0, 255);
    display:flex;
    margin:-33px;
    padding:15px;
}
.txtenca {
    color:white;
    text-decoration:underline;
    font-weight:bold;
    padding-right:40px;
}
.fa-envelope {
    padding-right:5px;
}
.fa-location-dot {
    padding-right:5px;
}
.fa-phone {
    padding-right:5px;
}
.fa-shop {
    padding-right:5px;
}
.regresar {
    text-decoration:none;
    color:white;
    text-decoration:underline;
}
.fa-shop {
    padding-right:5px;
    color:white;
}
.spro {
    margin:auto;
    border:10px solid rgb(25, 0, 255);
    padding:20px;
    display:flex
}
.sprod {
    margin:auto;
    padding:20px;
    background-color:grey;
    
}
.img-uno {
    background-image: url(../imagenes/tienda.jpg);
    background-position: center center;
    background-size: 36cm;
}
.hrr {
    margin-top:40px;
    margin-bottom:10px;
}
.txtt1 {
    margin:auto;
    color:white;
    font:x-large algerian;
    font-weight:bold;
    background-color:black;
    border:8px solid black;
}
.intro {
    margin:10px;
    border:5px solid rgb(0, 16, 238);
    background-color:rgb(72, 255, 111);
    padding:10px;
    font: medium arial;
    font-weight:bold;
    text-align:justify;
}
img:hover {
    width:10em;
    height:10em;
    border:5px solid red;
}
a {
    color:white;
    font-weight:bold;
}